* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-wrap: wrap;
  width: 1200px;
  margin: auto;
  justify-content: center;
}

.container .comic_card {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  width: 250px;
  margin: 20px;
}

.container .comic_card img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.back_button {
  background-color: aliceblue;
  color: white;
  padding: 10px 20px;
}

.show_button {
  background-color: aqua;
  color: white;
  padding: 10px 20px;
}

